<div class="page-container">
  <div class="page-inner">
    <!-- タイトル -->
    <div class="form-header">
      <h1 class="page-title">
      再設定用パスワードの送信</h1>
      <p class="page-explanation">
        登録したメールアドレスを入力してください。<br>
        パスワード再設定用のリンクをお送りします。
      </p>
    </div>

    <!-- フォーム -->
    <%= form_with model: resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-container" } do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <!-- メールアドレスフィールド -->
      <div class="form-field">
        <%= f.label :email, "メールアドレス", class: "form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@example.com", class: "form-input" %>
      </div>

      <!-- 送信ボタン -->
      <div>
        <%= f.submit "パスワード再設定メールを送信", class: "btn-primary" %>
      </div>

      <!-- リンク -->
      <div class="form-links">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
