<header class="header">
  <div class="header__container">
    <h1 class="header__title">
      <%= link_to "Wishly", root_path, class: "header__logo-link" %>
    </h1>

    <nav>
      <% if user_signed_in? %>
        <!-- ログイン中の表示 -->
        <div class="flex items-center gap-4">
          <%= link_to "アイテム登録", new_item_path, class: "hover:text-gray-300" %>
          <%= link_to "アイテム一覧", items_path, class: "hover:text-gray-300" %>
          <ul class="header-menu__lists">
            <li class="header-menu__list">
              <button><%= current_user.name %>さん</button>
              <ul class="dropdown__lists">
                <li class="dropdown__list">
                  <%= link_to "プロフィール編集", edit_user_registration_path %>
                </li>
                <li class="dropdown__list">
                  <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>
                </li>
              </ul>
              </li>
            </ul>
          </div>
      <% else %>
        <!-- 非ログイン時の表示 -->
        <div class="flex items-center gap-4">
          <%= link_to "ログイン", new_user_session_path, class: "hover:text-gray-300" %>
          <%= link_to "新規登録", new_user_registration_path, class: "hover:text-gray-300" %>
        </div>
      <% end %>
    </nav>
  </div>
</header>